.principal_container_form{
    width: 80%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.title_contacts{
    padding: 2rem auto;
    font-size: 30px;
    color: #173b6c;

}

.description_contacts{
    margin: 3rem auto;
     font-size: 18px;
}
.container_contacts{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.container_location{
    border: 0.1rem solid;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);

}
.location{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 3rem;
    margin-bottom: 1.5rem;
   
}
.container_img_location{
display: flex;

}

.link_whatsapp{
    margin: 2rem ;
    padding: 0.5rem 0.25rem;
    border-radius: 10px;
    background: linear-gradient(135deg, #f403d1, #64b5f6);
    color: aliceblue;
    font-size: 15px;
}

.info_contact{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.info_contact p{
   color: #4c647b;
}

.location i{
    background-color: #dff3fc;
    color: #52acff;
    border-radius: 50%;
    padding: 1rem;
}

iframe{
    border-radius: 20px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    width: 100%;
    margin: 0 auto;
}

form{
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    padding: 1rem;
}

form label{
    color: black;
    font-size: 20px;
}

form input{
    padding: 0.5rem;
    padding-left: 2rem;
    border-radius: 20px;
}

textarea{
    border-radius: 20px;
    padding-top: 1rem;
    padding-left: 1rem;
}

.submit{
    border-radius: 20px;
    background:  #64b5f6;
    color: aliceblue;
    font-size: 20px;
    padding: 1rem;
    margin: 1rem 0;
}

@media screen and (min-width: 600px){

.principal_container_form{
    width: 100%;

}

.contatiner_title_contacts{
    display: flex;
}

.container_location{
    padding: 3rem;
}

.title_contacts{
    padding: 1rem;
    font-size: 50px; 
    border: 0.2rem solid;
    margin-left: 2rem;
    
}

.description_contacts{
    margin-left: 2rem;
}

.container_contacts{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.location{
    display: flex;
    justify-content: space-around;
   
}
.info_contact b{
    font-size: 20px;
}

.container_linkWs{
 
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link_whatsapp{
   
    font-size: 20px;
    padding: 1rem;
}

.container_submit{
    width: 50%;
   
}

.submit{
    width: 80%;
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
    box-shadow: 0 4px 8px #4c647b;
}

form input, textarea{
    width: 60%;
    
}

}