.container_img_portfolio{
    width: 80%;
    margin: -2rem auto;
    min-height: 500px;
     padding-bottom: 2rem;
     display: grid;
      grid-auto-rows: 17rem;
      grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
      gap: 1rem;
      justify-content: center;
      align-items: center;
      padding-left: 5rem;
     
}


.img_porf{
    object-fit: contain;
   
    width: 80%;
    height: 250px;
     border: 0.1rem solid;
     border-radius: 10px;
     box-shadow: 0 4px 4px rgb(0, 0, 0);
    
}

 .container_info_img_porfolio:hover{
    transform: scale(1.1);
}

.container_info_img_porfolio{
    position: relative;
    
}
.container_buttons_porfolio{
    position: absolute;
    bottom: 0.05rem;
    left: 0;
    width: 80%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    
}


.btn-links_porfolio{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.icon-pf{
    color: rgb(87, 87, 87);

}


@media screen and  (min-width: 600px) and (max-width: 980px){

  .cotainer_contents_porfolio{
    width: 50%;
    margin: 0 auto;
    
   
  } 
  
  .container_img_portfolio {
   
        padding-left: 7rem;
   
}

    
}

@media screen and (min-width: 981px)  {

      .cotainer_contents_porfolio{
    width: 50%;
    margin: 0 auto;
   
  } 
  
  .container_img_portfolio {
    
        
        padding-left: 5rem;
}
}